In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv("age_cul.csv")
print(df)

   age  weight
0    3      10
1   10      22
2   30      68
3   35      70
4   45      65
5   50      72
6   33      68
7   55      72
8   60      88

In [3]:
df.head()

   age  weight
0    3      10
1   10      22
2   30      68
3   35      70
4   45      65

In [4]:
df.tail()

   age  weight
4   45      65
5   50      72
6   33      68
7   55      72
8   60      88

In [5]:
df.describe()

             age     weight
count   9.000000   9.000000
mean   35.666667  59.444444
std    19.442222  25.656925
min     3.000000  10.000000
25%    30.000000  65.000000
50%    35.000000  68.000000
75%    50.000000  72.000000
max    60.000000  88.000000

In [ ]:
#Split the dataset

In [3]:
X = df[['age']][:].values.reshape(9, 1)
print(X)

[[ 3]
 [10]
 [30]
 [35]
 [45]
 [50]
 [33]
 [55]
 [60]]

In [4]:
y = df[['weight']][:].values.reshape(9, 1)
print(y)

[[10]
 [22]
 [68]
 [70]
 [65]
 [72]
 [68]
 [72]
 [88]]

In [ ]:
#mplementing Linear Regression using Sklearn

In [ ]:
Syntax:

class sklearn.linear_model.LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=1)

In [5]:
from sklearn import linear_model
model = linear_model.LinearRegression()

model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Predict New data

In [5]:
new_data = [85]
print(model.predict([new_data]))

[[119.27307466]]

In [10]:
new_data = [93]
print(model.predict([new_data]))

[[128.9750147]]

In [ ]:
 #Finding Coefficient

In [11]:
print("Coefficient:    ", model.coef_[0])

Coefficient:     [1.2127425]

In [12]:
print("Intercept    ", model.intercept_[0])

Intercept     16.18996178718401

In [ ]:
import pickle

In [7]:
import pickle
with open('model_pickle','wb') as f:
    pickle.dump(model,f)

In [15]:
with open('model_pickle','rb') as f:
    np = pickle.load(f)

In [16]:
np.predict(85)

ValueError: Expected 2D array, got scalar array instead:
array=85.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.